/* Core Stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "zing";
  src: url('../css/fonts/zing.otf');
}
::-webkit-scrollbar {
  width: 12px;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (min-width: 1386px) {
  html {
    /*this does gradient don't touch*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+25,000000+75,000000+100&0.25+0,0+25,0+75,0.25+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#40000000', GradientType=1);
    /* IE6-9 */
  }
}
body {
  /*background-image: url("../images/background.jpg");*/
}
.main-nav {
  font-size: 1.1rem;
  font-family: "zing";
}
@media (max-width: 699px) {
  .main-nav {
    width: 200px;
    height: 100%;
    float: left;
    background-color: #ffffff;
    position: fixed;
    overflow: auto;
    left: -380px;
    margin-right: 10px;
    -moz-box-shadow: 0 0 8px 0 black;
    -webkit-box-shadow: 0 0 8px 0 black;
    box-shadow: 0 0 8px 0 black;
  }
}
@media (min-width: 700px) {
  .main-nav {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
    border-style: solid;
    border-width: 0 2px 0 0;
    border-color: #4169e1;
  }
}
.main-nav::-webkit-scrollbar {
  display: none;
}
@media (max-width: 700px) {
  .expand-nav {
    left: 10px;
    height: 40px;
    position: absolute;
  }
}
@media (min-width: 700px) {
  .expand-nav {
    display: none;
  }
}
.main {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #000000;
}
@media (min-width: 700px) {
  .main {
    align-items: left;
  }
}
@media (min-width: 1160px) {
  .main {
    align-items: center;
  }
}
.center-container {
  width: 100%;
  margin-top: 50px;
}
@media (min-width: 700px) {
  .center-container {
    margin-bottom: 20px;
  }
}
@media (min-width: 1386px) {
  .center-container {
    width: 1360px;
    align-items: center;
  }
}
.header {
  width: 100%;
  font-family: "zing";
}
@media (min-width: 700px) {
  .header {
    padding-left: 230px;
  }
}
@media (min-width: 1386px) {
  .header {
    width: 940px;
    padding-left: 20px;
  }
}
.header-container {
  background: #4169e1;
  color: #ffffff;
  z-index: 10;
  height: 50px;
  width: 100%;
  left: 0;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  -moz-box-shadow: 0 0 8px 0 black;
  -webkit-box-shadow: 0 0 8px 0 black;
  box-shadow: 0 0 8px 0 black;
}
@media (min-width: 700px) {
  .header-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}
.body {
  font-size: 1rem;
  line-height: 1.7;
  text-align: left;
  overflow: hidden;
  padding: 10px;
  padding-left: 20px;
  background-color: transparent;
}
@media (min-width: 1160px) and (max-width: 1386px) {
  .body {
    width: 940px;
  }
}
@media (min-width: 1386px) {
  .body {
    margin-right: 200px;
    margin-left: 200px;
  }
}
.body a:link,
.body a:visited {
  text-decoration: none;
  color: #4169e1;
}
/* Content Styling */
.logo {
  text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 700px) {
  .logo {
    padding-left: 10px;
  }
}
@media (max-width: 350px) {
  .logo {
    padding-left: 40px;
  }
}
.logo a {
  padding-top: 100px;
}
.du-logo {
  height: 32px;
  width: 32px;
  margin-top: 5px;
  background-color: #ffffff;
}
@media (max-width: 390px) {
  .du-logo {
    display: none;
  }
}
.blue a:link,
.blue a:visited {
  color: #0000ff;
}
/* Menu Settings */
.main-nav ul {
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
  list-style-type: none;
  background-color: transparent;
}
.main-nav ul li {
  display: inline-block;
  letter-spacing: normal;
  text-align: right;
  padding-right: 7px;
  padding-top: 5px;
  width: 100%;
}
.main-nav a:hover {
  background-color: #a1c9f1;
  color: #ffffff;
  border-radius: 5px;
}
.main-nav a .selected {
  background-color: #4169e1;
  color: #ffffff;
  border-radius: 5px;
}
.main-nav ul a {
  display: block;
  color: #4169e1;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}
