#eventContainer{
	margin-top: 10px;
}

.eventDisplay{
	background-color: #4169e1;
	
	display: flex;
	flex-direction: row;
	
	justify-content: flex-start;
	border-radius: 5px;
	
	margin-bottom: 10px;
	padding: 0px;
	
	height: 125px;
}

.eventPicture{
}

.eventPicture > img{
	border-radius: 5px 0px 0px 5px;;
	display: block;
}

@media screen and (max-width: 700px){
	.eventPicture{
		display: none;
	}
}
.eventContent{
	color: #ffffff;
	
	display: flex;
	flex-direction: column;
		
	padding: 0px 10px 0px 10px;
	
	width: 100%;
}

.contentHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contentDesc{
	font-size: 12px;
	padding-bottom: 5px;
}


