#container {
	display: flex;
	justify-content: center;
}

#membersTable {
	border-collapse: collapse;
	border-style: none;
	table-layout: fixed;
}

#membersTable td {
	border-style: none;
	padding: 10px;
}

.memberDis {

}

.memberImgCenter {
	width: 100%;
}

.memberImgCenter > img {
	display: block;
}

.memberName {
	font-weight: bold;
	margin: 0px;
}

.memberPos {	
	margin: 0px;
}

.presBio {
	overflow: hidden;
}

.presDis {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.presPos {
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: -20px;
}


.presName {
	font-weight: bold;
	font-size: 3em;
	margin-top: -20px;
	margin-left: 10px;
	margin-bottom: -30px;
}
