/* Core Stuff */

@mainNavBack:	#ffffff;
@mainBack:		transparent;

@screenWidth:	1386;

@headerBack:	#4169e1;
@headerCol:		#ffffff;

@bodyBack:		transparent;

@textCol:		#000000;

@textCrush:		1386;

@gradientAlpha:	min(.25, 1 - @screenWidth/@textCrush);

@direction:		50% 50%;
@origin:		#ffffff;
@end:			#000000;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
	font-family: "zing";
	src: url('../css/fonts/zing.otf');
}

::-webkit-scrollbar {
	width: 12px;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	
	@media (min-width: 1386px){
		/*this does gradient don't touch*/
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+25,000000+75,000000+100&0.25+0,0+25,0+75,0.25+100 */
		background: -moz-linear-gradient(left, rgba(0,0,0,@gradientAlpha) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,@gradientAlpha) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,0,0,@gradientAlpha) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,@gradientAlpha) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,0,0,@gradientAlpha) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,@gradientAlpha) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40000000',GradientType=1 ); /* IE6-9 */
	}
	
}

body {
	/*background-image: url("../images/background.jpg");*/
}

.main-nav {
	font-size: 1.1rem;
	font-family: "zing";
	
	@media (max-width: 699px) {
		width: 200px;
		height: 100%;
		float: left;
		
		background-color: @mainNavBack;
			
		position: fixed;
		overflow: hidden;
			
		left: -380px;
			
		display: flex;
		flex-direction: row;
			
		margin-right: 10px;
		
		-moz-box-shadow: 0 0 8px 0 black;
		-webkit-box-shadow: 0 0 8px 0 black;
		box-shadow: 0 0 8px 0 black;
	}
	
	@media (min-width: 700px) {
		width: 200px;
		float: left;
		
		margin-right: 10px;
		
		border-style: solid;
		border-width: 0 2px 0 0;
		border-color: @headerBack;
	}
}

.expand-nav {
	@media (max-width: 700px) {
		left: 10px;
		height: 40px;
			
		position: absolute;
	}
	
	@media (min-width: 700px) {
		display: none;
	}
}

.main {
	display: flex;
	flex-direction: column;

	background-color: @mainBack;
	
	color: @textCol;
	
	@media (min-width: 700px) {
		align-items: left;
	}
	
	@media (min-width: 1160px){
		align-items: center;		
	}	
}

.center-container {
	width: 100%;
	margin-top: 50px;
	
	@media (min-width: 700px) {
		margin-bottom: 20px;
	}
	
	@media (min-width: 1386px) {
		width: 1360px;
		align-items: center;
	}	
}

.header {
	width: 100%;
	font-family: "zing";
	
	@media (min-width: 700px) {
		padding-left: 230px;
	}

	@media (min-width: 1386px) {
		width: 940px;
		padding-left: 20px;
	}	
}

.header-container {
	background: @headerBack;
	color: @headerCol;
	
	z-index: 10;

		
	height: 50px;
	width: 100%;

	left: 0;
	position: fixed;
		
	padding-top: 5px;
	padding-bottom: 5px;
		
	text-align: center;
	
	-moz-box-shadow: 0 0 8px 0 black;
	-webkit-box-shadow: 0 0 8px 0 black;
	box-shadow: 0 0 8px 0 black;
	
	@media (min-width: 700px) {
		position: absolute;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		
		text-align: left;
	}
}

.body {
	font-size: 1rem;
	line-height: 1.7;
	text-align: left;
		
	overflow: hidden;
	padding: 10px;
	padding-left: 20px;
		
	background-color: @bodyBack;
	
	@media (min-width: 1160px) and (max-width: 1386px) {
		width: 940px;
	}
	
	@media (min-width: 1386px) {
		margin-right: 200px;
		margin-left: 200px;
	}	
}

.body a:link, .body a:visited {
	text-decoration: none;
	color: @headerBack;
}

/* Content Styling */

.logo {
	text-decoration: none;
	font-size: 2rem;
	color: @headerCol;
	
	@media (max-width: 700px) {
		padding-left: 10px;
	}
	@media (max-width: 350px) {
		padding-left: 40px;
	}
}

.logo a {
		padding-top: 100px;
}

.du-logo {
	height: 32px;
	width: 32px;
	
	margin-top: 5px;
	
	background-color: @headerCol;
	
	@media (max-width: 390px) {
		display: none;
	}
}

.blue a:link, .blue a:visited {
	color: #0000ff;
}

/* Menu Settings */
@navItemSelected: 	transparent;
@navItemFont:		#4169e1;
@navItemSep:		#f0f0f0;
.main-nav ul {
	width: 100%;
	
	margin-top: 0px;
	padding-left: 0px;
	
	list-style-type: none;
	background-color: @mainBack;
}

.main-nav ul li {
    letter-spacing: normal;
	text-align: right;
	
	padding-right: 7px;
	padding-top: 5px;
		
	height: 30px;
	width: 100%;
		
	border-top: 1px solid @navItemSep;
}

.main-nav a:hover,  .main-nav a:visited{
    background-color: @navItemSelected;
	color: @navItemFont;
}

.main-nav a .selected{
    background-color: @navItemSelected;
	color: @navItemFont;
	font-weight: bold;
}

.main-nav ul a {
	display:block;
	
	height: 30px;

    color: @navItemFont;
	text-decoration: none;
}